/*body {*/
/*    margin: 0;*/
/*    font-family: Arial, Helvetica, sans-serif;*/
/*    color: #292F33;*/
/*    background-color: #bbb;*/
/*}*/

a {
    color: #292F33;
    transition: 0.5s;
}

.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
    transition: 0.5s;
}

.header.dark {
    background-color: #66757F;
    box-shadow: 3px 3px 20px 0 rgba(255, 255, 255, .1);
}

.header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    transition: 0.5s;
}

.header ul.dark {
    background-color: #66757F;
}

.header ul a {
    display: block;
    outline: 1px solid #CCD6DD;
    padding: 20px;
    border-right: 1px solid #CCD6DD;
    text-decoration: none;
    transition: 0.5s;
}

.header ul a.dark {
    outline: 1px solid #292F33;
    border-right: 1px solid #292F33;
}

.header ul a:hover {
    color: #fff;
    background-color: #66757F;
    transition: 0.5s;
}

.header ul a:hover.dark {
    color: #292F33;
    background-color: #fff;
}

.header .logo {
    float: left;
    display: block;
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 0;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon {
    background: #292F33;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before {
    background: #292F33;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;

}

.header .menu-icon .nav-icon:after {
    background: #292F33;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

@media (min-width: 781px) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

div.paginainhoud {
    margin: 0;
    padding-top: 100px;
    padding-left: 25px;
    padding-right: 25px;
}
div img{
    align-content: center;
    margin: auto;
}
img{
    height: 250px;
    width:250px;

    padding-bottom: 20px;
}

div p{
    margin: auto;
    padding: 22px;
}
