/*kleurenpalet:
#fff2df
#d9ad7c
#674d3c
#262626
*/

*{
    padding:0;
    margin: 0;
}


body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #E1E8ED;
    color: #292F33;
    font-size: 20px;
    line-height: 30px;
    transition:0.5s;
}

body.dark {
    background-color: #252525;
    color: #E1E8ED;
}

h1 {
    color: #292F33;
    font-family: Verdana, Geneva, sans-serif;
    border-bottom: 5px solid #292F33;
    padding-bottom: 25px;
    padding-top: 50px;
}

h1.dark {
    color: #E1E8ED;
    border-bottom: 5px solid #E1E8ED;
}
section.helePagina{
        margin: auto;
        width: 980px;
        border: 5px solid #292F33;
        padding: 50px;
        /*border-radius: 50px;*/
        /*background-image: url(TM_logo_oranje_cmyk.svg);*/
        background-size: 150px 80px;
        background-repeat: no-repeat;
        background-position: 880px 45px;
        background-color:#CCD6DD;
        color: #292F33;
}

section.helePagina.dark{
    border: 5px solid #E1E8ED;
    background-color: #292F33;
    color: #E1E8ED;
}
/*#container {*/
/*    margin: auto;*/
/*    width: 980px;*/
/*    border: 5px solid #262626;*/
/*    padding: 50px;*/
/*    border-radius: 50px;*/
/*    !*background-image: url(TM_logo_oranje_cmyk.svg);*!*/
/*    background-size: 150px 80px;*/
/*    background-repeat: no-repeat;*/
/*    background-position: 880px 45px;*/
/*    background-color: #d9ad7c;*/
/*    color: #262626;*/
/*}*/
a {
    background-color: #000;
    color: red;
    font-weight: bold;
}

/*begin licht-donker-knop tot lijn 82*/
ul.nachtmodus {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 30px;
    z-index: 1;
    border: 3px solid #292F33;
    border-radius: 22px;
    cursor: pointer;
    overflow: hidden;
}

ul.nachtmodus.active {
    border-color: #E1E8ED;
}

ul.nachtmodus li.nachtmodus {
    list-style-type: none;
    width: 100%;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;

}

ul.nachtmodus.active li.nachtmodus {
    transform: translateY(-30px);
}

ul.nachtmodus li.nachtmodus span.nachtmodus {
    display: block;
    height: 30px;
    width: 100%;
    line-height: 30px;
    color: #292F33;
    background-color: #E1E8ED;

}

ul.nachtmodus li.nachtmodus span.nachtmodus:nth-child(1) {
    background-color: #262626;
    color: #E1E8ED;
}


/*einde licht-donker-knop vanaf lijn 35*/

/*hamburgermenu*/
.header{
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}


















/*hamburgermenu*/