/*basisstijl*/

body {
    font-family: tahoma, sans-serif;
    background-color: lightcyan;
    color: black;
}

a {
    border-color: black;
    border-style: solid;
    border-width: 3px;
}

a:link {
    background-color: inherit;
    color: black;
}

a:visited {
    background-color: inherit;
    color: black;
}

a:hover {
    background-color: black;
    color: #fff;
}

a:active {
    background-color: white;
    color: dimgrey;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    flex: 1 1 100%;
    display: flex;
}

nav a {
    flex: 1 1 100%;
}
