/*basisstijl*/

body {
    font-family: tahoma, sans-serif;
    background-color: lightcyan;
    color: black;
}

a:link {
    background-color: inherit;
    color: red;
}

a:visited {
    background-color: inherit;
    color: green;
}

a:hover {
    background-color: black;
    color: #fff;
}

a:active {
    background-color: inherit;
    color: blue;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    flex: 1 1 100%;
    display: flex;
}

nav a {
    flex: 1 1 100%;
}
