@media screen and (min-width: 500px) {
    .goedkoop {
        display: block;
    }

    .jong {
        display: none;
    }

    .luxe {
        display: none;
    }

    .basis {
        display: block;
    }

    .medium {
        display: none;
    }

    .groot {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .goedkoop {
        display: none;
    }

    .jong {
        display: block;
    }

    .luxe {
        display: none;
    }

    .basis {
        display: none;
    }

    .medium {
        display: block;
    }

    .groot {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .goedkoop {
        display: none;
    }

    .jong {
        display: none;
    }

    .luxe {
        display: block;
    }

    .basis {
        display: none;
    }

    .medium {
        display: none;
    }

    .groot {
        display: block;
    }
}
